.vscode/**
src/**
out/**/*.map
out/__mocks__/**
.gitignore
tsconfig.json
jest.config.js
jest-esm-to-cjs.cjs
software-development-plan.md
coverage/**
sprints/**
design/**
requirements/**
**/*.test.ts
**/*.test.js
stryker.config.json
traceability-matrix.md
ai/**
